.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--heders-dark-color);
}
:root {
  --first-backlight-color: #2196f3;
  --second-backlight-color: #ffffff;
  --headers-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-color: #757575;
}
.nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heders-dark-color);
}
.nav-list {
  list-style-type: none;
}
.nav-link:hover {
  color: var(--first-backlight-color);
}
.nav-link:focus {
  color: var(--first-backlight-color);
}
.nav-link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav-active {
  color: var(--first-backlight-color);
  text-decoration: none;
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  color: var(--first-backlight-color);
}
.logo-dark {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: black;
}
.header-contacts:hover {
  color: var(--first-backlight-color);
}
.header-contacts:focus {
  color: var(--first-backlight-color);
}
.header-contacts {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contacts-list {
  list-style-type: none;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-header {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
}
.hero-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:focus {
  color: #188ce8;
}
.hero-button:hover {
  color: #188ce8;
}
.conditions {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
}
.conditions-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-dark-color);
}
.conditions-list {
  list-style-type: none;
}
.conditions-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-us {
}
.about-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-list {
  list-style-type: none;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headers-dark-color);
}
.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  list-style-type: none;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.logo-White {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: white;
}
.footer {
  background-color: #2f303a;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19;
  color: white;
}
.footer-contacts:hover {
  color: var(--second-backlight-color);
}

.footer-contacts:focus {
  color: var(--second-backlight-color);
}

.footer-contacts {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line: height 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover {
  color: var(--first-backlight-color);
}
.footer-address:focus {
  color: var(--first-backlight-color);
}
.footer-address {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
/* portfolio */

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filters-list {
  list-style-type: none;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filters-button:focus {
  color: var(--first-backlight-color);
}
.filters-button:hover {
  color: var(--first-backlight-color);
}
.projekt {
}
.projekt-list {
  list-style-type: none;
}
.projekt-link {
}
.projekt-titl {
}
.project-text {
}
